.main {
    height: auto; 
    max-width: 320px; 
    background-color: hsl(0, 0%, 10%); 
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: auto;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    margin: 10px 0;
    font-size: 1.5em;
}

.maininput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.maininput input {
    background-color: white;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 5px;
    margin-right: 5px;
    flex-grow: 1;
}

.maininput button {
    color: white;
    height: 30px;
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 0.9em;
}

.maininput button:hover {
    background-color: rgb(14, 62, 14);
}

.mainjob {
    background-color: white;
    width: 100%; 
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box; 
    max-height: 200px;
    overflow-y: auto; 
}

.mainjob ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mainjob li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mainjob li span {
    flex-grow: 1;
    margin-right: 10px;
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    max-width: calc(100% - 100px);
}

.mainjob button {
    margin-left: 5px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 0.8em;
    cursor: pointer;
}

.mainjob button:hover {
    background-color: rgb(230, 230, 230);
}

.jobhere {
    max-width: 100%; 
}
